<ul *ngIf="this.router.url.includes('todo')">
  <li *ngFor="let item of tasks">
    <label><p>{{item.title}}</p>
      <input type="checkbox">
      <span (click)="changeValue(item)"></span>
    </label>
    <button type="button" (click)="delTask(item)">x</button>
    <hr />
  </li>
</ul>

<ul *ngIf="this.router.url.includes('completed')">
  <li *ngFor="let item of completed">
    <label><p>{{item.title}}</p>
      <input type="checkbox" checked="true">
      <span (click)="changeValue(item)"></span>
    </label>
    <button type="button" (click)="delTask(item)">x</button>
    <hr />
  </li>
</ul>

